* {
  box-sizing: border-box;
  max-width: 100vw;
}

@-moz-document url-prefix() {
  * {
    scrollbar-color: rgb(44, 44, 44) rgba(126, 126, 126, 0.425);
    scrollbar-width: thin;
  }
  *::-moz-sc {
    background-color: rgba(126, 126, 126, 0.425);
  }
}
*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ee582a;
}

@media (max-width: 800px) {
  *::-webkit-scrollbar {
    display: none;
  }
}
html {
  scroll-behavior: smooth;
}

p, .navbar, h2, textarea {
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #191818;
  width: 100%;
}
body .App {
  display: grid;
  grid-template-columns: 85% 15%;
}
body #start {
  grid-column: 1/3;
}
body #about_me {
  grid-column: 1;
}
body #v_navbar {
  grid-column: 2;
  grid-row: 2/6;
}
body #gallery {
  grid-column: 1;
}
body #myMap {
  grid-column: 1;
}
body #newsletter {
  grid-column: 1;
}
body footer {
  grid-column: 1/3;
}

#start {
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
#start #h_navbar {
  position: absolute;
  z-index: 3;
  top: -1px;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #191818;
  display: flex;
}
#start #h_navbar .nav_link {
  display: flex;
  margin: auto;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  transition: color 0.3s ease;
}
#start #h_navbar .nav_link:hover {
  color: #ee582a;
}
#start #h_navbar .nav_link::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  background-color: #2c2c2c;
  transition: bottom 0.3s ease;
}
#start #h_navbar .nav_link:hover::before {
  bottom: 0;
}
#start h1 {
  padding: 0 15px;
  color: #e9e9e9;
  position: absolute;
  z-index: 1;
  top: 60px;
  text-align: left;
  font-size: 4rem;
  background-color: rgba(66, 66, 66, 0.424);
  -webkit-backdrop-filter: blur(3px) brightness(75%);
  backdrop-filter: blur(3px) brightness(75%);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border: 1px solid rgba(177, 177, 177, 0.3);
  border-left: none;
  font-family: "Secular One", sans-serif;
  font-variant: small-caps;
  text-shadow: 0px 0px 5px #222222;
}
#start #photos-flexbox {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
#start #photos-flexbox .flex-item {
  top: 0;
  bottom: 0;
  flex-grow: 1;
  filter: brightness(0.3);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  transition: flex-grow 0.5s ease, filter 0.7s ease, scale 0.7s ease;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
#start #photos-flexbox .flex-item figcaption {
  padding: 10px;
  position: absolute;
  top: 75%;
  width: 20vw;
  color: #e9e9e9;
  margin: 0 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
  font-variant: small-caps;
  text-shadow: -1px 1px 3px rgb(54, 54, 54), 1px -1px 3px rgb(0, 0, 0);
  opacity: 0;
  border-radius: 4px;
  transition: background-color 0.7s ease, box-shadow 0.7s ease, opacity 0.7s ease, transform 8s ease;
}
#start #photos-flexbox .flex-item:hover {
  flex-grow: 4;
  filter: brightness(1);
}
#start #photos-flexbox .flex-item:hover figcaption {
  opacity: 1;
  background-color: rgba(30, 30, 30, 0.843);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
#start #photos-flexbox .cover {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
#start #photos-flexbox .cover figcaption {
  padding: 10px;
  position: absolute;
  top: 75%;
  width: 90%;
  color: #e9e9e9;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
  font-variant: small-caps;
  text-shadow: -1px 1px 3px rgb(54, 54, 54), 1px -1px 3px rgb(0, 0, 0);
  border-radius: 4px;
  background-color: rgba(30, 30, 30, 0.843);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

#about_me {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
#about_me #my_story {
  padding: 20px 30px 50px 30px;
  width: 80%;
  background-color: #e9e9e9;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
}
#about_me #my_story .grid-item {
  justify-self: center;
}
#about_me #my_story #profile {
  align-items: center;
  padding: 30px;
  border-right: 1px solid #2c2c2c;
}
#about_me #my_story #profile img {
  width: 95vw;
  height: 95vh;
  max-width: 150px;
  max-height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 10%;
  display: block;
  margin: 0 auto 30px auto;
  transition: all 0.3s ease;
}
#about_me #my_story #profile img:hover {
  transform: scale(110%);
  filter: brightness(1.1);
  box-shadow: none;
}
#about_me #my_story #profile .full-name {
  font-size: 1.5rem;
  text-align: center;
}
#about_me #my_story h2 {
  margin: 50px 0 20px 0;
  font-size: 30px;
  font-family: "Secular One", sans-serif;
  grid-column: span 2;
}
#about_me #my_story article p {
  margin: 0 0 20px 0;
  text-align: justify;
  text-indent: 1rem;
  padding: 20px;
}

#gallery {
  min-height: 100vh;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#gallery #gallery-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 20px 0;
}
#gallery #gallery-container .photo_container {
  position: relative;
  background-color: #e9e9e9;
  width: 95vw;
  height: 95vh;
  max-width: 300px;
  max-height: 300px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  text-align: center;
  font-variant: small-caps;
}
#gallery #gallery-container .photo_container img {
  top: 3%;
  left: 3%;
  bottom: 3%;
  right: 3%;
  width: 94%;
  height: 94%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease;
  border-radius: 7px;
}
#gallery #gallery-container .photo_container .overlay {
  pointer-events: none;
  position: absolute;
  top: 3%;
  bottom: 3%;
  left: 3%;
  right: 3%;
  width: 94%;
  height: 94%;
  padding: 5px;
  color: #e9e9e9;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(25, 24, 24, 0.6);
  transition: all 0.2s ease;
  border-radius: 7px;
}
#gallery #gallery-container .fadeIn {
  transition: opacity 0.8s ease;
  opacity: 0;
}
#gallery #gallery-container .fadeIn.is-visible {
  opacity: 1;
}
#gallery #gallery-container .photo_container:hover img, #gallery #gallery-container .photo_container:hover .overlay {
  top: -2%;
  bottom: -2%;
  left: -2%;
  right: -2%;
  width: 104%;
  height: 104%;
}
#gallery #gallery-container .photo_container:hover .overlay {
  opacity: 0;
}

#myMap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 30px 0;
}
#myMap p {
  max-height: 20vh;
  font-family: "Secular One", sans-serif !important;
  color: #ee582a;
  font-size: 1.9rem;
  margin: 0 0 0 10px;
}
#myMap #map-container {
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#myMap #map {
  stroke: #2c2c2c;
  stroke-width: 0.25px;
}
#myMap #map :focus {
  outline: none;
}

#newsletter {
  min-height: 90vh;
  display: flex;
  align-items: center;
}
#newsletter #nl_form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: -30px;
  padding: 30px 40px 30px 60px;
  width: 100%;
  min-height: 50%;
  background-color: #ee582a;
  color: #191818;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  font-size: 1.2rem;
}
#newsletter #nl_form h3 {
  font-variant: small-caps;
}
#newsletter #nl_form p {
  text-align: center;
}
#newsletter #nl_form #icons {
  display: flex;
  width: 100%;
  padding: 20px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
#newsletter #nl_form #icons svg {
  margin: 0 10px;
}
#newsletter #nl_form form {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 30px;
}
#newsletter #nl_form form label {
  grid-column: 1;
  font-variant: small-caps;
  font-weight: 500;
  align-self: center;
  margin-right: 10px;
}
#newsletter #nl_form form input {
  grid-column: 2;
  padding: 5px;
  height: 40px;
  font-size: 15px;
  border: none;
  border-radius: 3px;
}
#newsletter #nl_form form > input:last-of-type {
  justify-self: center;
  min-width: 170px;
  padding: 0 15px;
  background-color: #191818;
  border: none;
  color: #e9e9e9;
  font-variant: small-caps;
  cursor: pointer;
  transition: all 0.3s ease;
}
#newsletter #nl_form form > input:last-of-type:hover {
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.angle {
  color: #e9e9e9;
  font-size: 40px;
  border-radius: 2px;
  transition: all 0.3s ease;
}

#down {
  bottom: 50px;
  left: 50%;
  transform: translate(-20px);
  animation: moveDown 1s ease-in-out infinite alternate;
  position: absolute;
  padding: 10px 15px;
}

#btn-group {
  width: 100%;
  background-color: #191818;
  padding: 0;
  margin: 0;
  text-align: center;
  padding: 15px 0;
}
#btn-group summary {
  font-size: 1.5rem;
  color: #e9e9e9;
  list-style: none;
  transition: all 0.3s ease;
}
#btn-group a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191818;
  padding: 15px 0;
  transition: all 0.3s ease;
}
#btn-group a:hover, #btn-group a:active, #btn-group summary:hover, #btn-group summary:active {
  color: #ee582a;
}

#v_navbar {
  position: relative;
}
#v_navbar div #progress1 {
  grid-column: 1;
  grid-row: 2;
}
#v_navbar div #progress2 {
  grid-column: 1;
  grid-row: 3;
}
#v_navbar div #progress3 {
  grid-column: 1;
  grid-row: 4;
}
#v_navbar div nav {
  grid-column: 2;
  grid-row: 1/5;
}
#v_navbar div {
  float: right;
  position: sticky;
  margin-top: 30px;
  top: 10px;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: repeat(4, 1fr);
}
#v_navbar div nav {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.navbar a {
  text-decoration: none;
  font-variant: small-caps;
  color: #e9e9e9;
  font-size: 1.3rem;
  align-self: center;
  justify-self: left;
}

.style_on_scroll {
  color: #ee582a !important;
}

.progress {
  background: none;
  background-color: transparent;
  translate: 10px -5px;
  right: 0;
  top: 0;
  transform-origin: bottom left;
  transform: rotate(90deg);
  align-self: flex-start;
  width: 72px;
  height: 8px;
  padding: 0;
  margin-top: 0px;
  border-radius: 0;
}

.progress::-webkit-meter-bar {
  background: none;
  background-color: transparent;
}

@-moz-document url-prefix() {
  .progress {
    background: none;
    background-color: #2c2c2c;
  }
  .progress::-moz-meter-bar {
    background: none;
    border: 0;
    background-color: #ee582a;
    border-radius: 0;
    overflow: hidden;
  }
}
.progress::-webkit-meter-bar {
  background: none;
  border: 0;
  background-color: #2c2c2c;
  border-radius: 0;
  overflow: hidden;
}

.progress:first-of-type::-webkit-meter-bar {
  border-radius: 5px 0 0 5px;
}

.progress:last-of-type::-webkit-meter-bar {
  border-radius: 0 5px 5px 0;
}

.progress::-webkit-meter-optimum-value {
  background: none;
  background-color: #ee582a;
}

@supports (-webkit-hyphens: none) {
  .progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    background-color: transparent;
  }
  .progress::-webkit-meter-bar {
    background: none;
    background-color: #2c2c2c;
  }
  .progress::-webkit-meter-optimum-value {
    background: none;
    background-color: #ee582a;
  }
}
#overlay-page-bg {
  display: flex;
  visibility: hidden;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #191818;
  justify-content: center;
  align-items: center;
}
#overlay-page-bg #overlay-page {
  overflow-y: auto;
  position: fixed;
  bottom: 50px;
  top: 50px;
  width: 70vw;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  display: grid;
  grid-template-columns: 3fr 5fr;
  background-color: #e9e9e9;
  text-align: justify;
}
#overlay-page-bg #overlay-page .container {
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#overlay-page-bg #overlay-page article {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background-color: rgb(196, 196, 196);
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#overlay-page-bg #overlay-page article :first-child {
  font-size: 1.8rem;
  text-align: left;
}
#overlay-page-bg #overlay-page #x {
  position: fixed;
  font-size: 25px;
  right: 20px;
  top: 20px;
  transform-origin: center;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
  padding: 10px;
  color: #e9e9e9;
}
#overlay-page-bg #overlay-page #x:hover {
  transform: scale(1.3) rotate(180deg);
}
#overlay-page-bg #overlay-page img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#overlay-page-bg #overlay-page form {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  justify-self: center;
}
#overlay-page-bg #overlay-page form p {
  padding: 0;
  margin: 10px 0 20px 0;
}
#overlay-page-bg #overlay-page form p strong {
  font-size: 1rem;
}
#overlay-page-bg #overlay-page form textarea {
  width: 100%;
  height: 15vh;
  border: 1px solid rgba(25, 24, 24, 0.3);
  border-radius: 3px;
  padding: 10px;
  resize: none;
  font-size: 1rem;
}
#overlay-page-bg #overlay-page form input {
  position: relative;
  padding: 10px 13px;
  margin-top: 10px;
  display: block;
  background-color: #191818;
  color: #e9e9e9;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  font-variant: small-caps;
}
#overlay-page-bg #overlay-page form input:hover {
  background-color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#overlay-page-bg .overlay-grid-item {
  padding: 0 20px;
  justify-self: center;
  align-self: center;
}

footer {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
  text-align: center;
  padding: 10px 0;
}
footer p {
  display: inline;
  margin: 0 9px;
  color: #f7f7f7;
}
footer a {
  vertical-align: middle;
  text-decoration: none;
  color: #e9e9e9;
  font-size: 25px;
  margin: 0 9px;
  transition: all 0.2s ease;
}

#follow a:hover, .angle:hover, #x:hover {
  color: #ee582a !important;
}

@keyframes moveDown {
  from {
    bottom: 40px;
  }
  to {
    bottom: 20px;
  }
}
@media only screen and (max-width: 1100px) {
  #my_story {
    width: 95% !important;
    display: flex !important;
    flex-direction: column;
    padding: 20px !important;
  }
  #my_story #profile {
    border-right: 0 !important;
    border-bottom: 1px solid #2c2c2c;
  }
  #my_story h2 {
    display: block;
    text-align: center;
  }
  #myMap p {
    font-size: 1.3rem !important;
  }
}
@media only screen and (max-width: 1100px) {
  form {
    flex-direction: column !important;
    align-items: flex-end;
  }
  form > input:last-of-type {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .App {
    grid-template-columns: 100% !important;
  }
  h1 {
    width: 100%;
    text-align: center !important;
    padding: 10px !important;
    font-size: 2rem !important;
  }
  #h_navbar {
    position: fixed !important;
  }
  #h_navbar a {
    font-size: 1.3rem !important;
  }
  #v_navbar {
    display: none;
  }
  #newsletter {
    position: relative;
    width: 100%;
    padding: 0;
    align-items: flex-start;
  }
  #newsletter #nl_form {
    width: 100%;
    min-height: 90vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #newsletter #nl_form form {
    display: flex;
    flex-direction: column;
  }
  #newsletter #nl_form form :last-child {
    margin: auto;
  }
  #overlay-page {
    width: 100% !important;
    overflow-y: auto;
    top: 0 !important;
    bottom: 0 !important;
    border-radius: 0 !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  #overlay-page .container {
    height: unset !important;
    overflow-y: unset !important;
    justify-content: flex-start !important;
    padding: 0 !important;
  }
  #overlay-page .container article {
    overflow-y: unset !important;
  }
  #overlay-page form {
    width: 100% !important;
  }
  #overlay-page img {
    width: 100% !important;
    height: 50% !important;
    border-radius: 2px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
}
@media screen and (max-width: 560px) {
  #h_navbar {
    height: 50px !important;
  }
  #my_story {
    margin: 0 0 20px 0;
    width: 100% !important;
    border-radius: 0 !important;
    padding: 0px !important;
  }
  #about_me, #myMap, #newsletter {
    padding: 0;
  }
  #gallery {
    padding: 60px;
  }
  #overlay-page article :first-child {
    font-size: 8vw !important;
  }
}/*# sourceMappingURL=App.css.map */